/* Цвет основного текста /чёрный/ #212121 */
/* Цвет вторичного текста /серый/ #757575 */
/* Цвет акцента /синий/ #2196F3 */
/* Цвет текста /белый/ #FFFFFF */
/* Цвет футера rgba(255, 255, 255, 0.6 */
/* Цвет основного фона /белый/ #FFFFFF */
/* Вторичный цвет фона /приглушенно серый/ наша команда #F5F4FA */
/* Цвет фона заголовка и футера /серый/ #2F303A */

:root {
  --logo-color: #000000;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-background: #f5f4fa;
  --white-color: #fff;
  --primary-text-color: #212121;
  --color-footer: rgba(255, 255, 255, 0.6);
  --background-footer: #2f303a;
}

body {
  background: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.accent {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------- HEADER ---------- */

.logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* site-nav */

.header-link {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-link:hover,
.header-link:focus,
.site-contacts .header-link:hover,
.site-contacts .header-link:focus {
  color: var(--accent-color);
}

.header-link.active {
  color: var(--accent-color);
}

.site-contacts .header-link {
  color: var(--secondary-text-color);
}

/* ------------- HERO ---------- */
.hero {
  background-color: var(--background-footer);
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* ------------- BENEFITS ---------- */

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ------------- WORK ---------- */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* ------------- TEAM ---------- */

.team {
  background-color: var(--secondary-background);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ------------- FOOTER ---------- */

.footer {
  background-color: var(--background-footer);
  text-decoration: none;
}

.footer-logo {
  color: var(--white-color);
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.footer-link:hover,
.footer-link:focus,
.footer-link.white:hover,
.footer-link.white:focus {
  color: var(--accent-color);
}

.footer-link.white {
  color: var(--white-color);
}

/*--------PORTFOLIO-----------*/

.header-link {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-link:hover,
.header-link:focus,
.site-contacts .header-link:hover,
.site-contacts .header-link:focus {
  color: var(--accent-color);
}

.header-link.active {
  color: var(--accent-color);
}

.site-contacts .header-link {
  color: var(--secondary-text-color);
}
